*{
	margin:0;
	padding:0;
}

body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #fff;
}

input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}



a{
	text-decoration:none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
    font-weight: normal;
    line-height: 20px;
}

img{
	border:0px none;
}

hr{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE #c5c5c5 #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
}

.floatfix:after{
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibilty:hidden;
	font-size: 0px;
}

.lt{
	float:left;
}

.rt{
	float:right;
}

.wic_overlay{
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5490;
	/*visibility: hidden;*/
	display: none;
	opacity: 0.20;
	filter: alpha(opacity=20);
}

.wrapper{
	width: 100%; /* 1260/1280 */
	background-color:#fff;
	margin:0px auto;
}

.land_h2{
	font-size: 1.9em;
    margin: 20px 0;
    text-align: center;
	font-weight:lighter;
}

/* LAND TOP */
.land_top{
	padding:26px 0 21px;
}

.wic_logo{
	margin-left:11.904761904761904761904761904762%; /* 150/1260 */
	width:12.063492063492063492063492063492% /* 152/1260 */
}

.android_logo{	
	margin: -11px 18.412698412698412698412698412698% 0 0; /* 232/1260 */
	width:5.1587301587301587301587301587302% /* 65/1260 */
}

.sell_on_wicfy{
	margin: 10px 18.412698412698412698412698412698% 0 0; /* 232/1260 */
	width:40%;
	text-align:right;
}

.sell_on_wicfy a{
	 border: 2px solid #82CAF4;
    border-radius: 3px;
    color: #82CAF4;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.wic_logo img,
.android_logo img{
	max-width:100%;
}
/* LAND TOP ENDS */



.land_main{
	background-image: url("../images/landing3/landing-page-image.jpeg");
	background-repeat:no-repeat;
	background-color:#FE8103;
    border-bottom: 5px solid #5E3293;
    height: 520px;
	 background-position: center;
}

.land_main h1{
	text-align:center;
	font-size:2.142857142857143em;
	line-height:1em;
	max-width:90%;	
	color:#fff;
	padding:65px 0 0 0;
	text-shadow:2px 2px 2px #898989;
	margin: 0 auto 20px auto;
}


/* SIGNUP */
.signup_container{
	width:34.92063492063492%; /* 440/1260*/
	margin: 0 0 0 8.18181818181818%; /* 36/440 */
}

.signup_box{
	width:53.40909090909091%; /* 275/440 - padding of 9.09090909090909 on each side*/
	padding:20px 9.09090909090909% 23px; /* 25/275 */
	background:rgba(0,0,0,0.56);
	
}

.social_signup{
	display:block;
	text-decoration:none;
	color:#fff;
	background:#5e3293;
	height:34px;
	margin-bottom:12px;
	font-weight:bold;
}

.social_signup i{
	font-style:normal;
	display:inline-block;
	float:left;
}

.social_signup .social_icon{
	width:19.02654867256637%;	
	height:34px;
}

.fb_signup .social_icon{
	background:url("../images/landing3/fb_login.png") no-repeat scroll 0px 0px transparent;
}

.g_signup .social_icon{
	background:url("../images/landing3/g_login.png") no-repeat scroll 0px 0px transparent;
}

.social_signup .social_text{
	padding:7px 0 7px 7.2896174863388%; /* 17/183  reduced by2% after calculation*/
}

.sign_up_input{
	width:94%;
	padding:0 3%;
	height:29px;
	border: 1px solid #462472;	
}

.input_name{
	margin-top:13px;	
}

.input_password{
	margin-top:9px;	
}

.login_extra{
	color:#fff;
	padding:10px 0;
	font-size : 0.85714285714285714285714285714286em; /* 12/14 */
}

.login_extra a{
	color:#fff;	
}

.stay_signed{
	margin:-4px 0 0 !important;
}

.stay_signed_box,
.forgot_password{
	width:50%;
}

.forgot_password{
	text-align:right;
}


.submit_div input[type="submit"]{
	border:0px none;
	color:#fff;
	font-weight:bold;
	width:40%;
	height:32px;
}

.submit_div .or{
	color: #FFFFFF;
    font-weight: bold;
    margin: 8px 0 0;
    text-align: center;
    width: 20%;
}

.sign_in{
	background-color: #5e3293;
	cursor: pointer;
}

.sign_up{
	background-color: #00b200;
	cursor: pointer;
}

/* SIGNUP ENDS */

/* LAND BEST OF WEEK */

.land_bestofwicfy{
	width:100%;
	margin:0px auto;
	padding:60px 0 0;
}

.best_container{
	width:91.71875%; /* 1174/1280 */
	margin:0px auto;
}

.best_content{
	width:85.349233390119250425894378194208%; /* 1102/1174 */
	margin:0px auto;
}

.best_element{
	margin-right: 4.9900199600798403193612774451098%; /* 50/1002 */
	width: 21.257485029940119760479041916168% /* 213/1002 */
}

.best_element .best_image{
	max-width:100%;
}

.best_container .best_element:last-child{
	margin-right:0 !important;
}

.best_image_hover{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    height: 213px;
    position: absolute;
    width: 213px;
    display:none;
}

.best_image_hover h4{
	background: #5E3293;
    color: #FFFFFF;
    padding: 10px 2px;
    text-align: center;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.best_thank{
	background-color: #00B200;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 50px auto;
    padding: 3px;
    text-align: center;
    width: 50px;
}

.best_image_div{
	text-align: center;
}

.best_element h3{
	font-size:1.2142857142857142857142857142857em; /* 17/14 */
	text-align:center;
	margin-bottom:20px;
}

.best_element .user_info{
	padding:10px 0 0;
	color: #333333;
	text-decoration: none;
	display: block;
}

.best_element .user_info .name{
	font-size: 11px;
    line-height: 15px;
    margin-left: 10px;
}

.best_element .user_info .name strong{
	font-size: 12px;
}

.best_hr{
	margin:60px 0 50px;
}
/* LAND BEST OF WEEK */

/* LAND REASONS */
.land_reasons{	
	width:70.634920634920634920634920634921%; /* 890/1260 */
	margin:90px auto 0;
}

.reasons_group{
	margin-top:42px;
}

.reasons_element{
	width:28.089887640449438202247191011236%; /* 250/890 */
	margin:0 7.8651685393258426966292134831461% 0 0; /* 70/890 */
	text-align:center;
}



.land_reasons  .reasons_element:last-child{
	margin-right:0px;
}

.reasons_element .img_cont{
	overflow:hidden;
}

.reasons_element .reason_img{
	max-width:100%;
}

.reason_text h3{
	margin:5px 0;
	font-size:1.1428571428571428571428571428571em;
}

.reason_text p{
	font-size:1.0714285714285714285714285714286em;
	text-align:justify;
}

/* LAND REASONS ENDS */

/* LAND STATS */
.land_statistics{
	margin-top:80px;
	min-height:235px;
	background-color:#5e3293;
}

.stats_container{
	width:70.634920634920634920634920634921%; /* 890/1260 */
	margin:0px auto;
	color:#fff;
	padding:60px 0;
}


.stat_angle_container{
}

.stat_angle{
	background: none repeat scroll 0 0 #462472;
    height: 7.5714285714285714285714285714286em;   	
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    width: 7.5714285714285714285714285714286em;
}

.stats_container  .stat_angle_container:first-child  .stat_angle{
	margin:0;
}

.stat_span{
	color: #FFFFFF;
    display: block;
    font-size: 2em;
    margin: 1.5em auto;
    text-align: center;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	
}

.stat_param{
	display: block;
    font-size: 1.5em;
    margin-top: 7em	;
    text-align: center;
}

.stat_line{
	border-top:4px solid #462472;
	width:20em;
	height:1px;
	margin-top:3.657em;
}

.stat_line_big{
	border-top: 4px solid #462472;
    height: 1px;
    margin-top: 3.657em;
    position: absolute;
    width: 60%;
}

.angle_group{
}

.angle_one{
	width:42%
}

.angle_two{
}

.angle_three{
	width:42%
}

.angle_one .stat_param{
	text-align:left;
	margin-left:1em;
}

.angle_two .stat_param{
	text-align:centre;
}

.angle_three .stat_param{
	text-align:right;
	margin-right:1em;
}
/* LAND STATS ENDS */

/* LAND MEDIA */
.land_media{
	width:70.634920634920634920634920634921%; /* 890/1260 */
	margin:85px auto 0;	
}

.media_group{
	margin-top:50px;
}

.media_link{
	width:25%;
	text-align:center;
	display:block;
	height:173px;
}

.media_link img{
	max-width:100%;
}

.media_nass{
}

.media_nbw img{
	margin-top:1.8571428571428571428571428571429em;
}

.media_ys{
}

.media_ecell img{
	margin-top:1.0714285714285714285714285714286em;
}

/* LAND MEDIA ENDS */

/* LAND SOCIAL */

.land_social{
	height:49px;
	border-top:1px solid #ddd;
	background-color:#462472;
}

.social_container{
	width: 77.777777777777777777777777777778%; /* 980/1260 */
	margin:0px auto;
	color:#fff;
}

.fb_page_link,
.t_page_link{
	margin-right:5px;
}

.heart{
	margin: 10px 0 0;
	
}

.heart_text{
	margin: 15px 0 0 10px;
}

/* LAND SOCIAL ENDS */

/* LAND FOOTER */

.footer{
	width: 77.777777777777777777777777777778%; /* 980/1260 */
	padding:30px 0;
	margin:0px auto;
}

.footer_col{
	width:20%;
	margin-left:5%;
}

.foot_link{
	color: #333333;
    display: block;
    margin-top: 10px;
}

/* LAND FOOTER ENDS */

/* LAND CORPORATE */

.land_corporate{
	height:50px;
	background-color:#fff3ff;
	border-top:1px solid #dedede;
}

.corporate{
	width: 77.777777777777777777777777777778%; /* 980/1260 */
	margin:0px auto;
	color:#333;
	padding:15px 0;
}

.corporate a{
	color:#333;
}

/* LAND CORPORATE */

/* LAND WHEEL */

.wheel_container{
	margin-right:3.048780487804878048780487804878%; /* 25/840 */
	width: 53.848799512195121951219512195122%;
	
	margin-left: 6%;
    margin-right: 3.04878%;
    width: 47.849%;
}

.wicfy_wheel{
	/*width:304px;
	height:304px;*/
	position:absolute;
}

.pie {
	position: relative;	
	border: 4px solid #5e3293;
	padding: 0;
	width: 21.428571428571428571428571428571em; /*300px;*/
	height: 21.428571428571428571428571428571em; /*300px;*/
	border-radius: 50%;
	-webkit-border-radius:50%;
	-khtml-border-radius:50%;
	behavior: url(border-radius.htc);
	list-style: none;	
	background:#5e3293;
	color:#fff;
}

.slice {
	/* remove slash at the end of this line to see full slice contents */
	overflow: hidden; /**/
	position: absolute;
	top: 0; 
	right: 0;
	/* add slash at end of this line to show the red outline of the slice 
	outline: solid 1px red; /**/
	width: 50%;
	height: 50%;
	transform-origin: 0% 100%; 
	-webkit-transform-origin: 0% 100%; 
}

.slice:first-child {
	/*transform: rotate(15deg) /* angle between vertical axis (12 o'clock) 
							and start of the slice; 
							change it to see how the slice changes */
			/*skewY(-40deg); /* minus (90deg minus the central angle of the slice) 
							see http://en.wikipedia.org/wiki/Central_angle 
							change it to see how the slice changes */
	/* in this case, take the central angle of the slice to be 50deg 
	   90deg - 50deg = 40deg => skewY(-40deg) */
}

.slice:first-child .slice-contents {
	/*transform: skewY(40deg) /* unskew slice contents */ 
			/*rotate(25deg); /* rotate by half the central angle of the slice 
							which is 50deg in this case */
}
.slice-contents:hover {
	background: #fff;
	color: #462472;
}

.one{
	transform:rotate(0deg)   skewY(-40deg);
	-webkit-transform:rotate(0deg)   skewY(-40deg);
	transform:rotate(0deg)   skewY(-40deg);
}
.two{
	transform:rotate(51.4285714285714285714285714285714deg)  skewY(-40deg);
	-webkit-transform:rotate(51.4285714285714285714285714285714deg)  skewY(-40deg);
	transform:rotate(51.4285714285714285714285714285714deg)  skewY(-40deg);
}
.three{
	transform:rotate(102.857142857142857142857142857142deg) skewY(-40deg);
	-webkit-transform:rotate(102.857142857142857142857142857142deg) skewY(-40deg);
	transform:rotate(102.857142857142857142857142857142deg) skewY(-40deg);
}
.four{
	transform:rotate(154.285714285714285714285714285713deg) skewY(-40deg);
	-webkit-transform:rotate(154.285714285714285714285714285713deg) skewY(-40deg);
	transform:rotate(154.285714285714285714285714285713deg) skewY(-40deg);
}
.five{
	transform:rotate(205.714285714285714285714285714284deg) skewY(-40deg);
	-webkit-transform:rotate(205.714285714285714285714285714284deg) skewY(-40deg);
	transform:rotate(205.714285714285714285714285714284deg) skewY(-40deg);
}
.six{
	transform:rotate(257.142857142857142857142857142855deg) skewY(-40deg);
	-webkit-transform:rotate(257.142857142857142857142857142855deg) skewY(-40deg);
	transform:rotate(257.142857142857142857142857142855deg) skewY(-40deg);
}
.seven{
	transform:rotate(308.571428571428571428571428571426deg) skewY(-40deg);
	-webkit-transform:rotate(308.571428571428571428571428571426deg) skewY(-40deg);
	transform:rotate(308.571428571428571428571428571426deg) skewY(-40deg);
}

.slice-contents {
	position: absolute;
	left: -100%;
	width: 200%;
	height: 200%;
	border-radius: 50%;
	background: #462472;
	text-align: center;
	transition: background-color 1s;
	transform: skewY(40deg) rotate(25deg);
	-webkit-transform: skewY(40deg) rotate(25deg);
	overflow:hidden;
}



#small_circle{
	background: none repeat scroll 0 0 white;
    border: 0.28571428571428571428571428571429em solid #5E3293;
    border-radius: 50% 50% 50% 50%;
    height: 7.8571428571428571428571428571429em; /*110px;*/
    margin: 3.6428571428571428571428571428571em; /*51px*/
    padding: 2.8571428571428571428571428571429em; /*40px */
    position: absolute;
    text-align: center;   
    width: 7.8571428571428571428571428571429em; /*110px;*/
	color: black;
	overflow:hidden;
}

.centre_image_container{
	height:6.0714285714285714285714285714286em;
}

#centre_image{
	margin-top:15px;
}

#centre_text{
	color:#5E3293;
	font-size:1.5em;
}

/*
#wheel_info{
	background: none repeat scroll 0 0 #5E3293;
    height: 8em;
    left: 19em;
    padding: 2em 2em 2em 3em;
    position: absolute;
    top: 20.4em;
    width: 20%;
	color:#fff;	
}*/

#wheel_info{
    background: none repeat scroll 0 0 #5E3293;
    color: #FFFFFF;
    font-size: 22px;
    height: 130px;
    left: 14em;
    margin: 3.7142857142857142857142857142857em 0 0 20%;
    padding: 0.71428571428571428571428571428571em 0.71428571428571428571428571428571em 0.71428571428571428571428571428571em 10em;
    width: 50%;
}

#wheel_info_text{
	font-size:26px; /* some issue while oconverting it to em */ 
	line-height:29px;
	
}

.wheel_span{
	display:block;
	width:25px;
	height:22px;
	background:url("../images/landing3/sprites/landing-page-sprite-2.png");
}

.wheel_span_1{
}
.wheel_span_2{
}
.wheel_span_3{
}
.wheel_span_4{
}
.wheel_span_5{
}
.wheel_span_6{
}
.wheel_span_7{
}

.wheel_img{
	
}
.wheel_img_1{
	margin-top:15px;
}
.wheel_img_2{
	margin-top:-47px;
}
.wheel_img_3{
	margin-top:-106px;
}
.wheel_img_4{
	margin-top:-170px;
}
.wheel_img_5{
	margin-top:-232px;
}
.wheel_img_6{
	margin-top:-295px;
}
.wheel_img_7{
	margin-top:-356px;
}






/* LAND WHEEL ENDS */

/* LAND TESTIMONIAL */
	.land_testimonial{
		background:#fff3ff;		
	}
	
	.testimonial_container{
		width: 77.777777777777777777777777777778%; /* 980/1260 */
		margin:0px auto;
		padding:20px 0 40px;
	}
	
	.testimonial_block{
		margin-top:45px;
	}
	
	.testimonial_element{
		width:50%;
	}
	
	.testimonial_element .image{
		width:100px;
	}
	
	
	.testimonial_element .text{
		margin-left:120px;
		padding-right:10px;
	}
	
	.testimonial_element .testimonial{
		color: #333333;
    	font-style: italic;
    	font-weight: bold;
	}
	
	.testimonial_element .name{
		color:#adadad;
		margin-top:5px;
	}
/* LAND TESTIMONIAL ENDS */

/* PRODUCT GROUP */



.land_products{
	width:69.84126984126984126984126984127%; /* 880/1260 */
	margin:0px auto;
}

.products_group{
	margin-top:42px;
}

.product_element{
	width:31.818181818181818181818181818182%; /* 280/880 */
	margin-right:2.2727272727272727272727272727273%; /* 20/880 */
	background: #f5f5f5;
	margin-bottom:16px;
	height:208px;
}

.product_user_info{
	margin:10px 0 0;
	display: block;
	color: #333333;
	text-decoration : none;
	padding-left: 10px;
}

.product_element_hover{
	position:absolute;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	display:none;
}


.product_element_hover h4{
	background: #5E3293;
    color: #FFFFFF;
    padding: 10px 2px;
    text-align: center;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product_user_info .name{
	margin-left:10px;
}

.product_thank{
	background-color: #00B200;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 30px auto;
    padding: 3px;
    text-align: center;
    width: 50px;
}

.product_element:nth-child(3n+0){
	margin-right:0px;
}

.best_prod_img{
	display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.sign_explore_more{
	width:39.772727272727272727272727272727%; /* 350/880 */
	margin:25px auto;
	color:#fff;
	background:#008601;
	display:block;
	text-align:center;
	font-size:2em;
	padding:15px 0;
	display:none;
	
}

/* PRODUCT GROUP ENDS */

/* WICFY BOX */
	.wicfy_box_container{
		display:none;
		width:50%;
		margin-left:5%;
	}
	
	.wicfy_box{
		height:200px;
		width:90%;
		background-color:#5E3293;
		margin:30px 0 0;
		padding: 15px 0;
	}
	
	.box_left{
		padding: 0 10px;
		text-align:center;
		max-width:30%;
		
	}
	
	.box_image_container{
		height: 95px;
		margin-top: 45px;
		overflow: hidden;		
		width: 150px;
		overflow:hidden;		
	}
	
	#box_image{
		margin-top:0px;
	}
	
	#box_image_text{
		color:#fff;
		font-size:1.3em;
		text-align:center;
	}
	
	#box_text{
		margin-left:200px;
		color:#fff;
		font-size:21px;
		line-height:24px;
		padding:20px 20px 0;
	}
	
	.box_dots_container{
		width:90%;
		margin-top:10px;
	}
	
	.box_dots{
		background: #FFF;
		border-radius: 50% 50% 50% 50%;
		display: block;
		float: right;
		height: 8px;
		margin-left: 5px;
		width: 8px;
	}
	
	.box_dots:hover{
		background: #5E3293;
	}
/* WICFY BOX ENDS */

/* LOGIN OVERLAY */
	#signup_box_overlay{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.95);
  		border: 2px solid #FFFFFF;
    	left: 0;
    	margin-left: 32%;
    	margin-right: 32%;
    	padding: 20px 5% 23px;
    	position: fixed;
    	top: 30%;
    	width: 26%;
    	display:none;
    	z-index: 5500;
	}
	
	.login_overlay_close{
		color: #FFFFFF;
    	float: right;
    	font-weight: bold;
    	margin: -5% -10% 0 0;
    	position: relative;
	}
/* LOGIN OVERLAY */

/* INTESECTION */
	.land_thank{
		background-image: url("../images/landing3/thank.png");
    	background-position: 5px 4px;
    	background-repeat: no-repeat;
    	padding: 5px 0 5px 27px;
	}
	
	.land_hover{
		/* Firefox v3.6+ */
		background-image:-moz-linear-gradient(50% 0% -180deg,rgba(255,255,255,0.34) 0%,rgba(0,0,0,0.75) 100%); 
		/* safari v4.0+ and by Chrome v3.0+ */
		background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(255,255,255,0.34)),color-stop(1, rgba(0,0,0,0.75)));
		/* Chrome v10.0+ and by safari nightly build*/
		background-image:-webkit-linear-gradient(-180deg,rgba(255,255,255,0.34) 0%,rgba(0,0,0,0.75) 100%);
		/* Opera v11.10+ */
		background-image:-o-linear-gradient(-180deg,rgba(255,255,255,0.34) 0%,rgba(0,0,0,0.75) 100%);
		/* IE v10+ */
		background-image:-ms-linear-gradient(-180deg,rgba(255,255,255,0.34) 0%,rgba(0,0,0,0.75) 100%);
		background-image:linear-gradient(-180deg,rgba(255,255,255,0.34) 0%,rgba(0,0,0,0.75) 100%);
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#56ffffff,endColorstr=#bf000000,GradientType=0)";
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#56ffffff,endColorstr=#bf000000,GradientType=0);
	}
	
/* INTERSECTION ENDS */

/* PRODUCT GROUP ENDS */



/*!
 * Bootstrap Responsive v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
}

@media (max-width: 767px) {
}

.visible-print {
  display: none !important;
}

@media print {
  
}

@media (min-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 979px) { 
	.signup_container {		
		margin:0px;
		width:40%;
	}
	
	.signup_box{
		width:70%;
	}
	
	.wicfy_box_container{
		display:block;
	}
	
	.angle_one,.angle_three{
		width:40%
	}
	
	.box_image_container{			
		width: 120px;		
	}
	
	#box_text{
		margin-left:170px;		
		padding:20px 10px 0 0;
	}
	
	.box_dots{		
		height: 15px;
		width: 15px;
		margin-left: 15px;		
	}
}

@media (max-width: 979px) {
	.wheel_container{
		display:none;
	}
}	

@media (min-width: 980px) and (max-width: 1199px) {
	.signup_container{
		width:34.92063492063492%;
		margin: 0 0 0 4.18181818181818%;
	}	
	
	.signup_box{
		width:65.81818181818182%;
		padding:20px 9.09090909090909% 23px;		
	}
	
	#wheel_info_text{
		font-size:22px;
	}
	
	
	.sign_explore_more{
		width:49.772727272727272727272727272727%; /* 350/880 */		
	}
	
}

@media (min-width: 986px) {

	.phone_none{
		display:none;
	}

	.land_top{
		padding:15px 0;
	}

	.wic_logo img,
	.android_logo img{
		max-width:180%;
	}

	.land_main h1{
		font-size:2.142857142857143em;
	}

	.signup_container{
		width:80%;
		margin:0px auto;
		float:none;
	}
	
	.signup_box{		
		width:80%;		
	}
	
	.social_signup .social_icon{		
		height:34px;
	}
	
	.best_element,
	.best_container .best_element:last-child{
		float:none !important;		
		width: 250px;
		margin:0px auto 30px !important;
		text-align:center;	
	}
	
	.best_element .best_image{
		width:100%;
	}
	
	/* LAND REASONS */
	.land_reasons{	
		width:70%; /* 890/1260 */
		margin:65px auto 0;
	}
	
	.reasons_element {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	
	.reasons_element:after{
		clear:both;
		content:".";
		display:block;
		height:0px;
		visibilty:hidden;
		font-size: 0px;
	}
	
	.reasons_element .img_cont{
		float:left;
		width:30%;
	}
	
	.reason_text{
		float:left;
		width:65%;
		margin-left:4%;
	}

	

	/* LAND REASONS ENDS */
	
	/* LAND STATS */
	.stat_angle_container{
		float:none;
	}
	
	.stat_angle{		
		height:5.5714285714285714285714285714286em;		
		width:5.5714285714285714285714285714286em;
		float:left;
	}
	

	.stat_span {
		margin: 1.1em auto;
	}
	
	.angle_one,
	.angle_two,
	.angle_three{
		float:none;
		width:300px;
		margin:0px auto;
	}
	
	.angle_two,
	.angle_three{
		margin-top:57px;
	}
	
	.angle_one .stat_param,
	.angle_two .stat_param,
	.angle_three .stat_param{
		float:left;
		margin:none;
		text-align:left;
		margin-top: 1.4em;
		margin-left:30px;
	}

	/* LAND STAT ENDS */
	
	/* LAND MEDIA */
	.media_link{
		width:40%;			
	}
	
	.media_group .odd{
		margin-right:20%;
	}
	/* LAND MEDIA ENDS */
	
	/* LAND SOCIAL */
	
	.heart_text{
		margin: 15px 0 0 2px;
		font-size: 0.71428571428571428571428571428571em; /* 10/14 */
	}
	/* LAND SOCIAL ENDS */
	
	/* PRODUCT GROUP */

	.product_element{
		float:none;
		margin:25px auto;
		width:60%;
		height:150px;
	}
	
	.product_element:nth-child(3n+0){
		margin:25px auto;
	}


	/* PRODUCT GROUP ENDS */
	
	/* TESTIMONIAL */
	
	.testimonial_element{
		width:100%;
	}
	
	.testimonial_element:first-child{
		margin-bottom:20px;
	}
	
	/* TESTIMONIAL ENDS */
	
}

@media (max-width: 480px) {  
}

@media (max-width: 979px) {  
}

@media (min-width: 980px) {  
	.sign_explore_more{
		display:block;
	}
	
	.stats_container {	  
	    padding: 40px 0 20px;	   
	}
}